[submodule "external/qpOASES"]
	path = external/qpOASES
	url = https://github.com/coin-or/qpOASES.git
[submodule "external/casadi"]
	path = external/casadi
	url = https://github.com:casadi/casadi.git
