[submodule "external/qpOASES"]
	path = external/qpOASES
	url = https://github.com/coin-or/qpOASES.git
[submodule "external/casadi"]
	path = external/casadi
	url = https://github.com/casadi/casadi.git
[submodule "external/eigen-git-mirror"]
	path = external/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "external/coin_hsl_source"]
	path = external/coin_hsl_source
	url = git@github.com:zanellia/coin_hsl_source.git
